<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center letra-oswal-700">
                    <strong>
                        Proyecto
                    </strong>
                </h2>
            </div>
            <div class="card-body text-justify letra-text">
                <section>
                    Desarrollo de una aplicación web
                </section>
                <section>
                    Se desarrollo del lado del Front-end => con Framework Angular y del lado del Back-end Framework Spring ->.
                </section>
                <section class="text-center">
                    <strong>
                        <a href="https://github.com/abel1313/AngularProyectDev" target="_blank" > Front-end</a> Angular <br>
                        <a href="https://github.com/abel1313/SpringProyectoDev" target="_blank" > Back-end</a> Spring Boot<br>
                    </strong>
                </section>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">    
                        <a [routerLink]="['/tecnologias']" routerLinkActive="router-link-active"  class="btn btn-primary">
                            Tecnologías
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center letra-oswal-700">
                    <strong>
                        Proyecto Android
                    </strong>
                </h2>
            </div>
            <div class="card-body text-justify letra-text">
                <section>
                    Desarrolló de una aplicación android
                </section>
                <section>
                    Se desarrolló una aplicacion móvil utilizando Android Studio, utilizando web service REST.
                    Aplicación que permite dar a conocer al público en general si existe producto
                </section>
                <section class="text-center">
                    <strong>
                        <a href="https://github.com/abel1313/proyectoTortilleriaAndroidStudio" target="_blank" > Android</a> <br>
                    </strong>
                </section>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">    
                        <a [routerLink]="['/tecnologias']" routerLinkActive="router-link-active"  class="btn btn-primary">
                            Tecnologías
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>