.grid-perfil {
    width: 90%;
    height: 90vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        "perfil perfil texto texto texto texto aside-text aside-text"
        "perfil perfil texto texto texto texto aside-text aside-text"
        "perfil perfil texto texto texto texto aside-text aside-text"
        "perfil perfil texto texto texto texto aside-text aside-text";
    

  
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

    gap: 20px;
}
img{
border-radius: 50%;
}
.text-jus{
    text-align: justify;
}

.mi-perfil {
    grid-area: perfil;
    
}

.mi-perfil address {

    display: flex;
    align-items: center;

}

.text-section {
    grid-area: texto;
    
    text-align: justify;
}
.div-text{
    
    height: 100%;
}

.text-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    display: flex;
    justify-content: center;
    
}

.dov-i strong,
.dov-i span{
 line-height: 30px; 
}


.aside-perfil {
    grid-area: aside-text;
    
}

@media (max-width: 800px) {
    .grid-perfil {
        width: 70%;
        height: auto;
        margin: auto;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "perfil texto "
            "aside-text aside-text";
        
        gap: 20px;
    }

    .mi-perfil {
        grid-area: perfil;
        
    
    }

    .text-section {
        grid-area: texto;
        
    }
    
    .aside-perfil {
        grid-area: aside-text;
        
    }

}