<div class="grid-perfil">

    <aside class="mi-perfil">
        <strong class="">
            <p class="text-center">Abel Tiburcio Felipe</p>
        </strong>
        <img src="../../assets/262192422_1967493413417144_8648057344248028367_n.jpg" width="100%" height="35%"
            alt="Mi perfil">
        <address>
            Direccion: Calle Queretaro, Colonia Adolfo López Mateos, Luvianos Estado de México.
        </address>

        <p>

            <em class="bi bi-phone">Telefono: 7224610398</em> <br>
            <em class="bi bi-envelope">Email: abeltrece@gmail.com</em>
        </p>

        <p class="text-jus">
            Seguir aprendiendo y adquiriendo experiencia para proyectos futuros. <br>
            Me gustan los retos
        </p>


    </aside>

    <section class="text-section">


        <div class="dov-i">
            <strong>
                Título en Ingeniería en Tecnologías de la Información y Comunicación <br>
                Egresado de la Universidad Tecnologica del sur del estado de México. <br>
            </strong>
       <span>
           Actualmente: Desarrollo aplicaciones web utilizando <br> Framework Back-end Spring y Front-end Angular
        <br> Experiencia: En el transcurso de la Ingeniería desarrolle una aplicación web
        para un inventario de una ferretería. <br>
        Se utilizo Spring y Angular para su desarrollo. <br>
        He desarrolado una aplicación móvil para un inventario para una tortillería. <br>
       </span>
        </div>



    </section>

    <aside class="aside-perfil">
        Tiempo libre: Deporte
    </aside>
</div>