<div class="grid-perfil">

    <aside class="mi-perfil">
        <strong class="">
            <p class="text-center">Abel Tiburcio Felipe</p> 
        </strong>
<img src="../../assets/262192422_1967493413417144_8648057344248028367_n.jpg" width="250px" height="150px" alt="">
        <address>
            Direccion: Calle Queretaro, Colonia Adolfo López Mateos, Luvianos Estado de México
        </address>

        <p>
            
           <em class="bi bi-phone">Telefono: 7224610398</em> <br>
           <em class="bi bi-envelope">Email: abeltrece@gmail.com</em> 
        </p>


    </aside>

    <section class="text-section">
     
        <strong>
            Título en Ingeniería en Tecnologías de la Información  Y Comunicación <br>
        </strong>
  
        <strong>
            Egresado de la Universidad Tecnologica del sur del estado de México
        </strong>

        <p> 
            Experiencia:
        </p>
    </section>
    
</div>
