

<div class="row d-flex justify-content-center">
    <div class="col-6 ">
        <div class="card ">
            <div class="card-header">
                <h2 class="text-center letra-oswal-700">
                    <strong>
                        Proyecto
                    </strong>
                </h2>
            </div>
            <div class="card-body text-justify letra-text">
                <section>
                    Desarrollo de una aplicación web con Angular y Spring.
                    Para el desarrollo en Angular se utilizo <br>
                    Para el diseño se utilizo *Bootstrap *Flex-box  *CSS grid. <br>
                    Para mostrar la información en tablas se utilizo *datatables <br>
                    Mostrar mensajes  *sweetalert2 <br> 
                    Qr *ngx-qrcode2
                </section>
            </div>
        </div>
    </div>

</div>
