
.css-grid{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.css-grid-java{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.css-grid-angular{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.css-grid-otro{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.item-11{
    grid-column: span 2;
}

.certifi{
    
    grid-column: span 2;
    display: flex;
    justify-content: center;
    margin: 25px;
}


.css-grid section{
    

    background: rgba(255, 255, 255, 0.95);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0.5px );
-webkit-backdrop-filter: blur( 0.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


    display: flex;
    justify-content: center;
}