<div class="css-grid">

    <div class="item-1 d-flex justify-content-center">
        Spring
    </div>
    <div class="item-1 d-flex justify-content-center">
        Angular
    </div>

    <div class="css-grid-java">
        <section class="item-grid">
            Java 50%
        </section>
        <section class="item-grid">
            Java funcional 20%
        </section>
        <section class="item-grid">
            Spring 35%
        </section>
        <section class="item-grid">
            Hibernate 20%
        </section>
        <section class="item-grid">
            JPA 20%
        </section>
        <section class="item-grid">
            JPA Data 20%
        </section>


    </div>

    <div class="css-grid-angular">
        <section class="item-grid">
            JavaScript 35%s
        </section>
        <section class="item-grid">
            TypeScript 35%
        </section>
        <section class="item-grid">
            Angular
        </section>

        <section class="item-grid">
            ECMAScript 6 15%
        </section>
        <section class="item-grid">

        </section>
        <section class="item-grid">

        </section>

    </div>

    <div class="item-11 d-flex justify-content-center">
        <strong>
            Adicionales
        </strong>
    </div>

    <div class="css-grid-otro">
        <section class="item-grid">
            SQL 35%
        </section>
        <section class="item-grid">
            MySQL 25%
        </section>
        <section class="item-grid">
            Git 25%
        </section>
        <section class="item-grid">
            Flex box 20%
        </section>

        <section class="item-grid">
            CSS Grid 20%
        </section>

        <section class="item-grid">
            CSS3 30%
        </section>



    </div>

    <div class="css-grid-otro">

        <section class="item-grid">
            Bootstrap 25%
        </section>
        <section class="item-grid">
            html5 30%
        </section>
        <section class="item-grid">
            CSS3 30%
        </section>

        <section class="item-grid">
            Flex box 20%
        </section>

        <section class="item-grid">
            CSS Grid 20%
        </section>

        <section class="item-grid">
            CSS3 30%
        </section>



    </div>


    <div class="certifi">
        <a [routerLink]="['/certificacion']" routerLinkActive="router-link-active" > Certificación Android </a>
    </div>


</div>